@charset "utf-8";
/*
Template Name: Jovaphile
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("font-awesome.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:30px 0; text-align:center;}

#header *{margin:0; padding:0; line-height:1;}
#header h1{font-size:36px; letter-spacing:3px;}
#header p{font-size:.9rem; text-transform:lowercase;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:200px 0;}

#pageintro article{display:block; max-width:65%; margin:0 auto; text-align:center;}
#pageintro article *{word-wrap:break-word;}
#pageintro .heading{margin-bottom:20px; font-size:6rem;}
#pageintro p{margin:0; text-transform:uppercase; font-size:1.4rem;}
#pageintro footer{margin-top:80px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.sectiontitle{display:block; margin-bottom:80px; text-align:center;}
.sectiontitle *{margin:0;}
.sectiontitle .heading{display:inline-block; position:relative; padding-bottom:8px;}
.sectiontitle .heading::after{display:block; position:absolute; bottom:0; left:50%; width:50px; height:2px; margin-left:-25px; content:"";}

.heading i{margin-right:10px;}

.services{text-align:center;}
.services li article{padding:30px 20px;}
.services li article *{margin:0; padding:0;}
.services li article i{margin-bottom:20px;}
.services li article .heading{margin-bottom:15px; font-size:1.2rem;}

.pricelist{display:block; max-width:320px; text-align:center; border:1px solid;}
.pricelist > li *{margin:0;}
.pricelist > li{padding:10px;}
/* This can be specifically defined as the first two elements will always be there */
.pricelist > li:nth-child(3){padding-top:30px;}
/* We have used class="last", as there could be more than the default amount of <li> elements, which would mean using nth-child would be wrong if the individual lists displayed different amounts */
/* If a fixed amount is shown (as in the default template - 8 <li> elements) you can use: .pricelist > li:nth-child(7){padding-top:30px;} */
.pricelist > li.last{padding-bottom:30px;}
.pricelist > li:first-child, .pricelist > li:nth-child(2), .pricelist > li:last-child{padding:20px 10px;}
.pricelist > li:first-child{line-height:1;}
.pricelist > li:first-child strong{font-size:2.8rem; letter-spacing:-3px;}
.pricelist > li:first-child em{font-size:.8rem; text-transform:uppercase; font-style:normal;}
.pricelist > li:nth-child(2){font-size:1.2rem; text-transform:uppercase;}
.pricelist > li:last-child{border-top:1px solid;}
.pricelist > li:last-child > p:first-of-type{margin-bottom:10px; font-size:.8rem; text-transform:uppercase;}

.team figure{display:block; position:relative; max-width:320px;}
.team > figure:last-child{margin-bottom:0;}/* Used when elements stack in smaller viewports */
.team figure figcaption{padding-top:15px; text-align:center;}
.team figure figcaption *{margin:0; line-height:1;}
.team figure figcaption .heading{margin-bottom:8px; font-size:1.2rem;}
.team figure figcaption em{display:block; font-size:.8rem; font-style:normal;}
.team figure figcaption footer{margin-top:15px;}
.team figure figcaption footer .faico li{margin:0 5px;}
.team figure figcaption footer .faico li a{width:auto; height:auto; line-height:normal; font-size:14px;}

.testimonials{}
.testimonials article{max-width:55%; margin:0 auto; text-align:center;}
.testimonials article *{margin:0; padding:0;}
.testimonials article img{margin-bottom:20px; border-radius:50%;}
.testimonials article blockquote{margin-bottom:20px;}
.testimonials article .heading{}
.testimonials article em{display:block; margin-top:-5px; font-size:.8rem; font-style:normal;}

.latest{}
.latest article{display:inline-block; max-width:320px;}
.latest article figure{display:block; position:relative;}
.latest article figure img{}
.latest article .txtwrap{padding:25px 20px; border:solid; border-width:0 1px 1px 1px;}
.latest article .txtwrap .heading{margin:0; font-size:1.2rem;}
.latest article .txtwrap .meta{margin-bottom:20px;}
.latest article .txtwrap .meta li{display:inline-block; font-size:.8rem;}
.latest article .txtwrap .meta li::after{margin-left:5px; content:"|";}
.latest article .txtwrap .meta li:last-child::after{margin:0; content:"";}
.latest article .txtwrap p{margin:0;}

#stats{text-align:center;}
#stats li *{margin:0; padding:0;}
#stats li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
#stats li i{margin-bottom:30px;}
#stats li p:first-of-type{margin-bottom:15px; text-transform:uppercase;}
#stats li p:last-of-type{font-size:1.6rem;}

.cta *{margin:0; text-align:center;}
.cta .heading, .cta p{margin-bottom:30px;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}

#footer input, #footer button{border:1px solid;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
This gives a smooth transition to "ALL" elements used in the layout - other than the navigation form used in mobile devices
If you don't want it to fade all elements, you have to list the ones you want to be faded individually
Delete it completely to stop fading
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .28s ease-in-out;}
#mainav form *{transition:none !important;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{text-align:center;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none; text-align:left;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 30px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:20px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:25px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:20px 0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:120px 0 15px;}
#breadcrumb ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:inherit;}
.faico a:hover{}

.faicon-dribble:hover{color:#EA4C89;}
.faicon-facebook:hover{color:#3B5998;}
.faicon-google-plus:hover{color:#DB4A39;}
.faicon-linkedin:hover{color:#0E76A8;}
.faicon-twitter:hover{color:#00ACEE;}
.faicon-vk:hover{color:#4E658E;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#CBCBCB; background-color:#2B2F32;}
a{color:#74D3D3;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#56AED4;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.8);}
.overlay.coloured::after{}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#74D3D3; border-color:#74D3D3;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.imgover:hover::before{background:rgba(0,0,0,.55);}
.imgover:hover::after{color:#FFFFFF;}


/* Rows */
.row1{color:#474747; background-color:#FFFFFF;}
.row2{color:#474747; background-color:#FAFAFA;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#CBCBCB; background-color:#33363B;}
.row5, .row5 a{color:#CBCBCB; background-color:#2B2F32;}


/* Header */
#header a{color:inherit;}


/* Content Area */
.sectiontitle .heading::after{background-color:#74D3D3;}

.services li article{color:inherit; background-color:inherit;}
.services li article a{color:inherit;}
.services li article:hover{color:inherit; background-color:#FFFFFF; box-shadow:0px 0px 15px rgba(0,0,0,.2);}
.services li article:hover > a{color:#74D3D3;}

.pricelist{background-color:#FFFFFF;}
.pricelist > li:nth-child(2){color:#FFFFFF; background-color:#33363B;}
.pricelist, .pricelist > li:last-child{border-color:#D7D7D7;}
.pricelist:hover, .pricelist.bargain{box-shadow:0px 0px 15px rgba(0,0,0,.2);}

.latest article .txtwrap{border-color:#D7D7D7;}


/* Footer */
#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.1);}

#footer .faico a{background-color:#2B2F32;}
#footer .faico a:hover{color:#FFFFFF;}
#footer .faicon-dribble:hover{background-color:#EA4C89;}
#footer .faicon-facebook:hover{background-color:#3B5998;}
#footer .faicon-google-plus:hover{background-color:#DB4A39;}
#footer .faicon-linkedin:hover{background-color:#0E76A8;}
#footer .faicon-twitter:hover{background-color:#00ACEE;}
#footer .faicon-vk:hover{background-color:#4E658E;}

#footer input, #footer button{border-color:transparent;}
#footer input{color:#FFFFFF; background-color:#2B2F32;}
#footer input:focus{border-color:#74D3D3;}
#footer button{color:#FFFFFF; background-color:#74D3D3;}


/* Navigation */
#mainav li a{color:#FFFFFF;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#74D3D3; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(51,54,59,.65)/* #33363B */; border-color:rgba(51,54,59,.65)/* #33363B */;}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#74D3D3;}
#mainav form select{color:#FFFFFF; background-color:#2B2F32; border-color:rgba(255,255,255,.2);/* #FFFFFF */}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#74D3D3;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#74D3D3;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#74D3D3;}

#backtotop{color:#FFFFFF; background-color:#74D3D3;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#74D3D3;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#header{}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 50px 0; padding:0;}

	#pageintro{padding:120px 0;}
	#pageintro article{max-width:none;}
	#pageintro .heading{font-size:2.2rem;}
	
	.sectiontitle, .testimonials article{text-align:left;}
	.testimonials article{max-width:none;}

	#footer{padding-bottom:30px;}/* Not needed, just looks better. Compensates for the grid elements bottom margin when stacked */
	.card-body{
		margin: 20px !important;
	}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
}

